.card-container {
    height: 20em;
    width: 20em;
    border-radius: 10px;
    background-color: #212C3E;
    margin: 20px
}

.title-bar {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: linear-gradient(270deg, rgba(35,54,78,1) 11%, rgba(35,54,78,1) 30%, rgba(34,83,96,1) 79%) rgb(35,54,78);
    /*color: #10ECE5;*/
    color: #ACC8F3;
    height: 30px;
    width: 100%;
}

.draggable {
    touch-action: none;
    user-select: none;
}
